<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- This code allows a flash notice to be added to the body of EVERY page -->
    <% flash.each do |name, msg| %> 
      <ul>
        <li> <%= msg %> </li>
      </ul>
    <% end %> <!-- Flash notice code ends here -->
    
    <%= yield %>
  </body>
</html>
